@{ 
    var style = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Library Performance Evaluation Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/tinymce")
    <style>
        .blockI
        {
            display: inline-block;
            max-width: 6%;
        }
        .wordmark{
            display:inline-block;
            max-width: 80%;
        }

    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-library">
        <div class="container">
            <div class="navbar-header">
                <br />
                <img src="https://www.library.illinois.edu/assets/images/imark.svg?v=20171003" class="blockI" />
                <img src="https://www.library.illinois.edu/assets/images/university_libraries_wordmark.png" class="wordmark" /><br />
                @Html.ActionLink("Performance Evaluations", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "text-decoration:underline;" })
            </div>
            <div class="navbar-collapse collapse">
                <!--
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>
                    -->
                @{                var evalname = LibDirectoryIntegration.LibDirectoryFactory.GetPerson(User.Identity.Name.Substring(5)).name;
                    var masquename = "";
                    var mtext = "";
                    var masqueuser = Session["MasqueradeUser"];

                    if (Session["Masquerade"] != null && (bool)Session["Masquerade"] == true)
                    {
                        masquename = LibDirectoryIntegration.LibDirectoryFactory.GetPerson(Session["MasqueradeUser"].ToString()).name;
                        mtext = " (as " + masquename + ")";
                        style = "margin-top:20px;";
                    }
                }
                <p class="nav navbar-text navbar-right">
                    Hello, @evalname@mtext!
                    @if (Session["Masquerade"] != null && Session["Masquerade"].Equals(true))
                    {
                        <br />
                        @Html.ActionLink("Stop Masquerade", "StopMasquerade", "Home", new { @style = "color:red;" })
                    }
                    <br/>
                    <a href="https://www.library.illinois.edu/">LOGOFF</a>
                </p>
            </div>
        </div>
        <div style="background-color:gold;font-weight:300;">
            This is a test application, NOT FOR USE in production!
        </div>
    </div>
    <div class="alert-danger">@TempData["error"]</div>
    <div class="alert-warning">@TempData["warning"]</div>
    <div class="alert-info">@TempData["info"]</div>
    <div class="container body-content" style="margin-top:80px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - University of Illinois Library</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
