@model StaffEvaluations.Models.CreateEvalViewModel

@{
    ViewBag.Title = "CreateEval";
}

<h2>CreateEval</h2>

<div>Evaluation for @Model.eval.NetId</div>

@using (Html.BeginForm())
{
    @Html.Hidden("EvalId",Model.eval.EvalId)

    <h1>Questions</h1>

    <ul>
        @foreach (StaffEvaluations.Models.Question q in Model.questions)
        {
        <li>
            @Html.Hidden("Question.Index",q.Index)
            <div>
                @q.QuestionText
            </div>
            <div>
                <select id="@(q.namePrefixId + "QuestionRating")" name="@(q.namePrefix + "QuestionRating")">
                    <option value="Outstanding">Outstanding</option>
                    <option value="Solid Performer">Solid Performer</option>
                    <option value="Needs Improvement">Needs Improvement</option>
                    <option value="Not Applicable">Not Applicable</option>
                </select>
                <textarea id="@(q.namePrefixId + "QuestionComment")" name="@(q.namePrefix + "QuestionComment")"></textarea>
            </div>
        </li>
        }
    </ul>
}





