@model StaffEvaluations.Models.CreateEditEvalViewModel

@{
    ViewBag.Title = "CreateEval";

    var evaltypedesc = "";

    if (Model.eval.EvalCode == "AP")
    {
        evaltypedesc = "Academic Professional";
    }
    else if (Model.eval.EvalCode == "CA")
    {
        evaltypedesc = "Civil Service";
    }
    else if (Model.eval.EvalCode == "CC")
    {
        evaltypedesc = "Civil Service - Exempt";
    }
}

@using (Html.BeginForm())
{
    @Html.Hidden("Id", Model.eval.NetId)
    @Html.Hidden("Type", Model.eval.EvalCode)

    <h2>@DateTime.Now.Year @evaltypedesc Performance Evaluation for @Model.eval.NetId</h2>

    <ol>
        @foreach (StaffEvaluations.Models.Question q in Model.questions)
        {
            <li>
                @Html.Hidden("Question.Index", q.Index)
                @Html.Hidden(q.namePrefix + "QuestionCode", q.QuestionCode)
                <div>
                    @Html.Raw(q.QuestionText)
                </div>
                <div>
                    <br />
                    Rating: 
                    @Html.DropDownList(q.namePrefix + "QuestionRating", (List<SelectListItem>)ViewData["RatingList"])
                </div>
                <div>
                    <br />
                    Comments: <br />
                    <textarea id="@(q.namePrefixId + "QuestionComment")" name="@(q.namePrefix + "QuestionComment")" cols="100"></textarea>
                    <br />
                    <br />
                </div>
            </li>
        }
    </ol>

    <input type="submit" value="Save" class="btn"/>
}





