@model StaffEvaluations.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div>
    Welcome, @Model.NetId
</div>

@if (Model.MyEvaluation != null)
{
    <div>
        @Html.ActionLink("Go to your evaluation", "OpenEval", new { id = Model.MyEvaluation.EvalId })
    </div>
} 

<ul>
    @foreach (StaffEvaluations.Models.Person directReport in Model.DirectReports)
    {
        if (Model.MyStaffEvaluations.Any(e => e.NetId == directReport.NetId))
        {
            <li>
                <strong>@directReport.Name</strong>
                @Html.ActionLink("Edit Evaluation", "EditEval",new { id=directReport.NetId})
                @Html.ActionLink("Delete Evaluation", "DeleteEval", new { id = directReport.NetId })
            </li>
        }
        else
        {
            <li>
                <strong>@directReport.Name</strong>
                @Html.ActionLink("Start Evaluation", "CreateEval", new { id = directReport.NetId, type=directReport.EmployeeType })
            </li>
        }
    }
</ul>